<p style="margin: -35px -30px 36px;">
  <mat-toolbar color="primary" style="position:fixed; z-index: 9">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<div style="padding: 70px;"></div>

<mat-tab-group>
  <mat-tab label="Dash">  
    <div style="padding: 10px;"></div>

    

    <mat-progress-bar mode="determinate" [value]="progValue"></mat-progress-bar>
    <!-- Expansion Panels -->
    <span id="expnPanl">
    <mat-expansion-panel *ngIf="dash" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Morning
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span *ngFor="let item of dash.Morning">  
        <mat-card (click)="openDialog(item.id, item.status)"><i class="fa fa-check" [ngClass]="{'tikchk': item.status === '1'}"></i> <span class="itemtitle">{{item.title}}</span></mat-card>
      </span>
    </mat-expansion-panel>
    
    
    <mat-expansion-panel *ngIf="dash" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Afternoon
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span *ngFor="let item of dash.Afternoon">    
        <mat-card (click)="openDialog(item.id, item.status)"><i class="fa fa-check" [ngClass]="{'tikchk': item.status === '1'}"></i> <span class="itemtitle">{{item.title}}</span></mat-card>
      </span>
    </mat-expansion-panel>
    
    
    <mat-expansion-panel *ngIf="dash" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evening
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span *ngFor="let item of dash.Evening">  
        <mat-card (click)="openDialog(item.id, item.status)"><i class="fa fa-check" [ngClass]="{'tikchk': item.status === '1'}"></i> <span class="itemtitle">{{item.title}}</span></mat-card>
      </span>
    </mat-expansion-panel>
    </span>

  </mat-tab>
  <mat-tab label="All">
    <span id="activityTable">
     
      <table id="customers" *ngIf="allDash">
        <tr>
          <th>Title</th>
          <th>Sat</th>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
        </tr>
        <tr *ngFor="let item of allDash.Morning">  
          <td>{{item.title}}</td>
          <td [ngClass]="{'activetd': item.week.sat !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.sun !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.mon !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.tue !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.wed !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.thu !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.fri !== ''}"></td>
        </tr>
        <tr *ngFor="let item of allDash.Afternoon">  
          <td>{{item.title}}</td>
          <td [ngClass]="{'activetd': item.week.sat !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.sun !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.mon !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.tue !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.wed !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.thu !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.fri !== ''}"></td>
        </tr>
        <tr *ngFor="let item of allDash.Evening">  
          <td>{{item.title}}</td>
          <td [ngClass]="{'activetd': item.week.sat !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.sun !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.mon !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.tue !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.wed !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.thu !== ''}"></td>
          <td [ngClass]="{'activetd': item.week.fri !== ''}"></td>
        </tr>
      </table>
      
    </span>
  </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>








