.mat-expansion-panel{
  margin: 10px;
}

.mat-card{
  margin-bottom: 9px;
}

.itemtitle{
  margin-left: 15px;
}



.fa-check{
  color: #595959;
}
.tikchk{
  color: #4beaea;
} 

.example-spacer {
  flex: 1 1 auto;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  min-width: 260px;
  background: #3f51b5;
  color: white; 
}


/* Dark=Theme */
.mat-expansion-panel{
  background: #303030;
  
} 
.mat-expansion-panel-header-title{
  color: white;
}
.mat-card{
  background: #424242;
  color: #e6e6e6;
}
 
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr {background-color: #b9cbd6;}

#customers tr:hover {background-color: rgb(150, 165, 167);}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: rgb(19, 3, 3);
}

.activetd{
  background: #007cff;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #3f51b5;
}

::ng-deep .mat-progress-bar-buffer {
    background: #595959;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}